@import '../../config.scss';

.screen {
	width: $size;
	height: $size;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.screen {
	a,
	h2 {
		color: $color-prime;
		text-decoration: none;
		margin: 0;
	}
}

#text {
	animation: moveUp;
	transform: translateY(0px);
	animation-delay: 1s;
	animation-duration: 1s;
	animation-fill-mode: both;
	// animation-timing-function: ease-in-out;
}

@keyframes moveUp {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-40px);
	}
}
