@import '../../config.scss';

.screen {
	width: $size;
	height: $size;
	display: flex;
	justify-content: center;
	align-items: center;
}

.screen {
	a {
		color: $color-prime;
		text-decoration: none;
	}
}
